@model CE.Data.brands
@using Microsoft.AspNetCore.Identity
@using CE.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Create";
}

<h4>Brand Form</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="codebrand" />
            <div class="form-group">
                <label asp-for="codebrand" class="control-label"></label>
                <input asp-for="codebrand" class="form-control" />
                <span asp-validation-for="codebrand" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Namebrand" class="control-label"></label>
                <input asp-for="Namebrand" class="form-control" />
                <span asp-validation-for="Namebrand" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Color" class="control-label"></label>
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
                </div>
                
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Save" class="btn btn-primary btn-block" />
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="IndexBrands" class="btn btn-block btn-danger">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}