

<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->



      
        <div class="user-panel">

            <a class="logo-mini" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>


        </div>

        <!-- search form (Optional) -->
        <form action="" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header"></li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active">
                <a href="">
                    <i class="fa fa-link"></i> <span>Visits</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Visits/indexe"><i class="fa fa-circle-o"></i>Daily</a></li>
                    <li><a href="/Visits/Indexweekly"><i class="fa fa-circle-o"></i>Weekly</a></li>
                    <li><a href="/Visits/Indexmonthly"><i class="fa fa-circle-o"></i>Monthly</a></li>
                </ul>
            </li>
            <li>
                <a href="/Outlets/Index"><i class="fa fa-link"></i> <span>Outlets</span></a>
            </li>

            <li class="active">
                <a href="">
                    <i class="fa fa-link"></i> <span>Sammary reports</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Report/Reportweekly"><i class="fa fa-circle-o"></i>Weekly</a></li>
                    <li><a href="/Report/Reportmonthly"><i class="fa fa-circle-o"></i>Monthly</a></li>
                </ul>
            </li>
            <li class="active">
                <a href="/Models/IndexModels">
                    <i class="fa fa-link"></i> <span>Models</span>

                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Models/IndexBrands"><i class="fa fa-circle-o"></i>Brands</a></li>
                </ul>



            </li>


            <li><a href="/Home/Privacy"><i class="fa fa-link"></i> <span>Administration</span></a></li>

            <li>
                <a class="active" asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-link"></i><span>Register</span></a>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>

