<!--[if lt IE 8]>
           <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
       <![endif]-->

<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="index.html"><img width="50"  length="10" class="logo-mini" src="" alt="" /></a>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li class="active">
                      
                        <a class="has-arrow" href="/Visits/Index" aria-expanded="false"><i class="fa big-icon fa-home icon-wrap"></i> <span class="mini-click-non">Visits</span></a>

                    </li>

                    




                    <li>
                        <a class="has-arrow" href="/Outlets/Index" aria-expanded="false"><i class="fa big-icon fa-table icon-wrap"></i> <span class="mini-click-non">Outlets</span></a>

                    </li>
                    <li>
                        <a class="has-arrow" href="" aria-expanded="false"><i class="fa big-icon fa-table icon-wrap"></i> <span class="mini-click-non">Sammary reports</span></a>
                        <ul class="submenu-angle" aria-expanded="false">

                            <li><a title="Weekly" href="/Report/Reportweekly"><i class="fa fa-bullseye sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Weekly</span></a></li>
                            <li><a title="Monthly" href="/Report/Reportmonthly"><i class="fa fa-bullseye sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Monthly</span></a></li>

                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="" aria-expanded="false"><i class="fa big-icon fa-desktop icon-wrap"></i> <span class="mini-click-non">Models</span></a>
                        <ul class="submenu-angle" aria-expanded="false">

                            <li><a title="Models" href="/Models/IndexModels"><i class="fa fa-building sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Models</span></a></li>
                            <li><a title="Modals" href="/Models/IndexBrands"><i class="fa fa-building sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Brands</span></a></li>

                        </ul>
                    </li>

                </ul>
            </nav>
        </div>
    </nav>
</div>

