@page
@model RegisterModel
@{
    Layout = null;
    ViewData["Title"] = "Register";
}


<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Register </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/jeweler-master/img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/jeweler-master/css/bootstrap.min.css">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/jeweler-master/css/font-awesome.min.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="~/jeweler-master/css/owl.carousel.css">
    <link rel="stylesheet" href="~/jeweler-master/css/owl.theme.css">
    <link rel="stylesheet" href="~/jeweler-master/css/owl.transitions.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/jeweler-master/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/jeweler-master/css/normalize.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="~/jeweler-master/css/main.css">
    <!-- morrisjs CSS
        ============================================ -->
    <link rel="stylesheet" href="~/jeweler-master/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/jeweler-master/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
        ============================================ -->
    <link rel="stylesheet" href="~/jeweler-master/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="~/jeweler-master/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/jeweler-master/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/jeweler-master/css/calendar/fullcalendar.print.min.css">
    <!-- forms CSS
        ============================================ -->
    <link rel="stylesheet" href="~/jeweler-master/css/form/all-type-forms.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/jeweler-master/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="~/jeweler-master/css/responsive.css">
    <!-- modernizr JS
        ============================================ -->
    <script src="~/jeweler-master/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class="color-line"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="back-link back-backend">
                    <a href="index.html" class="btn btn-primary">Back to Dashboard</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"></div>
            <div class="col-md-6 col-md-6 col-sm-6 col-xs-12">
                <div class="text-center custom-login">
                    <h3>Registration</h3>
                    <p>Admin template with very clean and aesthetic style prepared for your next app. </p>
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label>Email</label>
                                    <input  asp-for="Input.Email" class="form-control">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Password</label>
                                    <input asp-for="Input.Password" type="password" class="form-control">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Repeat Password</label>
                                    <input asp-for="Input.ConfirmPassword" type="password" class="form-control">
                                </div>
                                
                
                                <div class="checkbox col-lg-12">
                                    <input type="checkbox" class="i-checks" checked> Sigh up for our newsletter
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-success loginbtn">Register</button>
                              
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"></div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>Copyright &copy; 2022 <a href="">CAP</a> All rights reserved.</p>
            </div>
        </div>
    </div>

    <!-- jquery
        ============================================ -->
    <script src="~/jeweler-master/js/vendor/jquery-1.11.3.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="~/jeweler-master/js/bootstrap.min.js"></script>
    <!-- wow JS
        ============================================ -->
    <script src="~/jeweler-master/js/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="~/jeweler-master/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="~/jeweler-master/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="~/jeweler-master/js/owl.carousel.min.js"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="~/jeweler-master/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="~/jeweler-master/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="~/jeweler-master/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/jeweler-master/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
        ============================================ -->
    <script src="~/jeweler-master/js/metisMenu/metisMenu.min.js"></script>
    <script src="~/jeweler-master/js/metisMenu/metisMenu-active.js"></script>
    <!-- tab JS
        ============================================ -->
    <script src="~/jeweler-master/js/tab.js"></script>
    <!-- icheck JS
        ============================================ -->
    <script src="~/jeweler-master/js/icheck/icheck.min.js"></script>
    <script src="~/jeweler-master/js/icheck/icheck-active.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="~/jeweler-master/js/plugins.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="~/jeweler-master/js/main.js"></script>
</body>

</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}